<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>csn1</display-name>
  <welcome-file-list>
    <welcome-file>indexeff.html</welcome-file>

  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controllers.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
     <servlet>
       
    <description></description>
    <display-name>LoginnServlet</display-name>
    <servlet-name>LoginnServlet</servlet-name>
    <servlet-class>controllers.LoginnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginnServlet</servlet-name>
    <url-pattern>/LoginnServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>LocatorServlet</display-name>
    <servlet-name>LocatorServlet</servlet-name>
    <servlet-class>controllers.LocatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocatorServlet</servlet-name>
    <url-pattern>/LocatorServlet</url-pattern>
  </servlet-mapping>
       <servlet>
    <description></description>
    <display-name>AddlocationServlet</display-name>
    <servlet-name>AddlocationServlet</servlet-name>
    <servlet-class>controllers.AddlocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddlocationServlet</servlet-name>
    <url-pattern>/AddlocationServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>controllers.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>AnswerQueryServlet</display-name>
    <servlet-name>AnswerQueryServlet</servlet-name>
    <servlet-class>controllers.AnswerQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerQueryServlet</servlet-name>
    <url-pattern>/AnswerQueryServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>DeleteLocationServlet</display-name>
    <servlet-name>DeleteLocationServlet</servlet-name>
    <servlet-class>controllers.DeleteLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLocationServlet</servlet-name>
    <url-pattern>/DeleteLocationServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DeletePlanServlet</display-name>
    <servlet-name>DeletePlanServlet</servlet-name>
    <servlet-class>controllers.DeletePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlanServlet</servlet-name>
    <url-pattern>/DeletePlanServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>DeleteQueryServlet</display-name>
    <servlet-name>DeleteQueryServlet</servlet-name>
    <servlet-class>controllers.DeleteQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQueryServlet</servlet-name>
    <url-pattern>/DeleteQueryServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>PlanDetailServlet</display-name>
    <servlet-name>PlanDetailServlet</servlet-name>
    <servlet-class>controllers.PlanDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanDetailServlet</servlet-name>
    <url-pattern>/PlanDetailServlet</url-pattern>
  </servlet-mapping>
        <servlet>
    <description></description>
    <display-name>ModifyLocationServlet</display-name>
    <servlet-name>ModifyLocationServlet</servlet-name>
    <servlet-class>controllers.ModifyLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyLocationServlet</servlet-name>
    <url-pattern>/ModifyLocationServlet</url-pattern>
  </servlet-mapping>
       <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>controllers.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>PlanSubscribeServlet</display-name>
    <servlet-name>PlanSubscribeServlet</servlet-name>
    <servlet-class>controllers.PlanSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanSubscribeServlet</servlet-name>
    <url-pattern>/PlanSubscribeServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>QueryDetailServlet</display-name>
    <servlet-name>QueryDetailServlet</servlet-name>
    <servlet-class>controllers.QueryDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDetailServlet</servlet-name>
    <url-pattern>/QueryDetailServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UpdateLocationServlet</display-name>
    <servlet-name>UpdateLocationServlet</servlet-name>
    <servlet-class>controllers.UpdateLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocationServlet</servlet-name>
    <url-pattern>/UpdateLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlanServlet</display-name>
    <servlet-name>UpdatePlanServlet</servlet-name>
    <servlet-class>controllers.UpdatePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlanServlet</servlet-name>
    <url-pattern>/UpdatePlanServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>WriteToUsServlet</display-name>
    <servlet-name>WriteToUsServlet</servlet-name>
    <servlet-class>controllers.WriteToUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteToUsServlet</servlet-name>
    <url-pattern>/WriteToUsServlet</url-pattern>
  </servlet-mapping>
</web-app>